# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc
/bin
/obj
*.dll
*.exe
*.pdb
*.cache
*.log
*.deploy
*.resx
*.resources
*.suo
# dependencies
/node_modules
/dist
/e2e/node_modules
/e2e/dist
/e2e/protractor.conf.js
/e2e/tsconfig.e2e.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
