body {
  margin: 3% 5%;
  padding: 3% 5% 3% 5%;
}
.small-popup {
  font-size: 12px;
  color: red;

}
.header-container {
  text-align: center;
}
.personal-data-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  border-bottom: 2px solid rgb(146, 148, 248);
  margin: 2rem;
  padding: 0.5rem;
}
.input-container {
  -ms-flex: auto;
  
  position: relative;
}

mat-form-field {
  box-sizing: border-box;
  margin: 0 auto;
  width: 240px;
}

.business-data-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  border-bottom: 2px solid rgb(146, 148, 248);
  margin: 2rem;
  padding: 0.5rem;
}
.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
  padding: 14px 28px;
  border-radius: 5px;
  font-size: 16px;
}

.btn:hover {
  box-shadow: 1px 1px 15px 5px rgba(146, 148, 248, 0.4);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

.response-message{
    text-align:center;
}
.line {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  
  margin-bottom: 16px;
}
.lineUp {
  animation: 2s anim-lineUp ease-out;
}
.red{
    color:red;
}
.green{
    color:green;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
