.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.personal-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.input-container {
  width: 100%;
  margin-bottom: 10px;
}

.btn-login-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-login {
  width: 80%;
}

.btn {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
  padding: 14px 28px;
  border-radius: 5px;
  font-size: 16px;
}

.btn:hover {
  box-shadow: 1px 1px 15px 5px rgba(146, 148, 248, 0.4);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

@media (max-width: 768px) {
  .form-container {
    width: 90%;
  }
}
.response-message {
  text-align: center;
}

.line {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  margin-bottom: 16px;
}

.lineUp {
  animation: 2s anim-lineUp ease-out;
}

.red {
  color: red;
}

.green {
  color: green;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
